body {
  margin: 0;
  padding-left: 10px;
  font-family: 'Helvetica Neue', sans-serif;
}

.blocked-square, .square {
  height: 40px;
  width: 40px;

  display: inline-block;
  float: left;

  margin-right: -1px;
  margin-top: -1px;
  border: 1px solid black;

  text-align: center;
  font-size: 28px;
  line-height: 40px;

  position: relative;
}

.blocked-square {
  background-color: black;
}

.clue-number {
  position: absolute;
  top: 2px;
  left: 2px;
  font-size: 12px;
  line-height: 14px;
}

.row {
  width: fit-content;
  display: block;
  padding: 0;
  margin: 0;
}

.game-board {
  padding: 10px;
  margin: 0;
  display: inline-block;
  float: left;
}

.clue-container {
  padding: 2px 10px 0px 10px;
  float: left;
  width: calc((100vw - 635px - 100px) / 2);
  height: 400px;

  border: 1px solid black;
  border-radius: 5px;
  margin: 9px 5px;
}

.clue-container h2 {
  margin: 0;
}

.clues {
  height: 360px;
  overflow-y: scroll;
}

.clues ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.clue {
  cursor: default;
}


.party-container {
  float: left;
  width: calc(100vw - 635px - 68px);
  height: 190px;
  margin: 9px 5px;
  padding: 2px 10px 0px 10px;
  border: 1px solid black;
  border-radius: 5px;
}

.party-container h1, p {
  margin: 0;
}


.heading {
  padding: 10px;
}

.heading h1 {
  margin: 0;
}

.heading p {
  margin: 0;
}

.friend-color {
  display: inline-block;
  width: 15px;
  height: 15px;
  vertical-align: bottom;
  margin-bottom: 2px;
  margin-right: 5px;
  border-radius: 50%;
}
